@import '../bootstrap/bootstrap';
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);

@mixin img-hover() {
  img {
    @include transition(box-shadow 0.4s);
    &:hover {
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
  }
}

html, body {
  font-family: 'PT Sans', sans-serif;
  background: transparent url(../images/bg_all.png) scroll 0 0 repeat;
}

h1, h2, h3, h4, h5, h6, span, p, a {
  font-family: 'PT Sans', sans-serif;
}

.front {
  .page-header {
    display: none;
  }
}

.page-bottom {
  background: transparent url(../images/bg.png) scroll 0 0 repeat;
  padding: 20px 0 0 0; 
  margin-top: 20px;
  border-bottom: 20px solid black;  
  border-top: 5px solid #3276b1; 
  .block {
    color: white;  
    background: url(../images/footer_line.png) repeat-x scroll 0 100% transparent;  
    padding-bottom: 20px;
    .stream {
      font: 'PT Sans', sans-serif !important;
    }
  }  
  #block-block-7 {
    .col-md-2 {
      margin: 5px 0;
      img {
        border-radius: 5px;
      }
    }
    .btn-primary {
      margin-top: 20px;    
    }
  }
  #block-block-8 {
    background: none;
    margin-top: 20px;
  }
  .block-title {
    background: url(../images/footer_line.png) repeat-x scroll 0 100% transparent;
    padding-bottom: 20px;
  }
  #block-twitter-block-1 {
    padding-bottom: 0;
  }
}

.main-container {
  margin-top: -20px;
  padding-top: 20px;
  background: transparent url(../images/line.png) scroll 0 0 repeat-x;
}

#block-block-6 {
  padding-bottom: 20px;
  .col-md-4 {
    @include img-hover();
    .img-circle {
      margin-top: 50px;      
    }
  }
}

#block-views-news-block-1 {
  border-top: 1px solid #e5e5e5;
  background: transparent url(../images/line.png) scroll 0 0 repeat-x;
  padding-top: 30px;
  text-align: center;
  .view-news {
    background: transparent url(../images/line.png) scroll bottom repeat-x;
    padding-bottom: 30px;
    .views-field-body {
      min-height: 85px;
      text-align: justify;
    }  
    .views-field-field-news-mage {
      @include img-hover();
      margin-top: 10px;
      .img-circle {
        margin: 0 auto;
      }
    }
    .btn-default {
      margin-bottom: 10px;
    }
  }
}

#block-views-blog-block {
  .views-row {
    margin-bottom: 10px;
  }
}

.page-news, .page-blog, .page-gallery, .page-node-10, .page-progs, .node-type-gallery, .page-guest-book, .page-portfolio {
  .page-header {
    display: none;
  }
}

#navbar {
  .navbar-collapse {
    a {
      @include transition(color 0.4s);
      &:hover, &.active-trail {
        background: none;
        color: #F94B19;
      }
    }
  }
}

.page-node-35 {
  #carousel-bootstrap {
    margin: 0 0 20px 0;
    img {
      height: 500px;
      margin: 20px auto;
    }
  }
}

#webform-client-form-10 {
  .form-submit {
    margin-top: 20px;
  }
  textarea {
    resize: none;
  }
}

.page-gallery {
  .view-gallery {  
    position: relative;
    text-align: center;
    padding-bottom: 20px;
    .views_slideshow_cycle_main {
      display: inline-block;
      .views-slideshow-cycle-main-frame {
        .views-slideshow-cycle-main-frame-row-item {
          @include img-hover();
          img {
            border: 10px solid white;
          }
        }
      }
    }
    .views-slideshow-controls-top {
      width: 362px;
      float: left;
      background-color: #e7e7e7;
      border: 1px solid #DFDFDF;
      padding: 5px;
      .views-slideshow-pager-fields {
        .views-slideshow-pager-field-item {  
          @include img-hover();
          img {
            float: left;    
            cursor: pointer;
            margin: 5px;
            border: 3px solid white;
            box-shadow: 0 0 1px rgba(0,0,0,0.5);
          }
        }     
      }    
    }
  }
}

.view-blog, .view-news, .view-progs, .view-portfolio {
  .node-teaser {
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    padding: 5px 10px;
    margin: 0;
    margin-bottom: 20px;
    .field-name-field-news-mage, .field-name-field-portfolio-image {
      @include img-hover();
      img {
        float: left;
        margin: 0 20px 20px 0;
      }
    }
    .node-readmore {
      padding-left: 0;
      padding-top: 5px;
    }
    .field-name-field-blog-tags {
      clear: both;
      display: inline-block;
      .field-item {
        float: left;
        margin-right: 5px;
      }
      .field-item:after {
        content: ',';
      }
      .field-item:last-child:after {
        content: '';
      }
    }
    .glyphicon-leaf {
      top: -2px;
    }
  }
  .field-type-image {
    @include img-hover();
  }
}

.comment-form {
  .filter-wrapper {
    display: none;
  }
  #comment-body-add-more-wrapper {
    .grippie {
      display: none;
    }
    textarea {
      resize: none;
    }
  }
}

.view-progs, .node-type-progs {
  .field-name-body {
    dl {
      margin-bottom: 0;
    }
  }
}

#block-block-9 {
  padding: 0 10px 10px 10px;
  background: #f8f8f8;
  border: 1px solid #e7e7e7;
  margin-top: 20px;
  .block-title {
    margin: 10px -10px;
    border-bottom: 1px solid #e7e7e7;
    padding: 0 0 10px 10px;
  }
}

.footer {
  border: none;
  margin-top: 0;
  margin-top: 20px;
  padding-top: 0;
  padding-bottom: 0;
  #block-block-5 {
    background: none;
    padding-bottom: 0;
    position: absolute;
    color: #a0a0a0;
  }
}

.navbar {
  .logo {
    margin: 0px;
    margin-top: 2px;
  }
}

.node-news, .node-portfolio, .node-progs {
  .field-type-image {
    float: left;
    margin: 0 20px 20px 0;
  }
  #comments {
    clear: both;
  }
}

.view-guest-book {
  .page-header {
    display: block;
  }
  .row {
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    padding: 5px 10px;
    margin: 0;
    margin-bottom: 20px;
    .views-field-body {  
      clear: both;
      p {
        font-style: italic;
        padding: 0.5em 0px 0.5em 10px;
        display: inline;
        font-family: 'PT Sans', sans-serif;
        font-size: 14px;
        float: left;
      }
    }

    .views-field-body:before {
      color: #bbb;
      content: "\201C";
      font-size: 34px;
      line-height: 0.1em;
      margin-top: 20px;
      float: left;
      display: inline;
      font-style: italic;
    }

    .views-field-body:after {
      color: #bbb;
      content: "\201D";
      font-size: 34px;
      line-height: 0.1em;
      margin-top: 20px; 
      display: inline;
      font-style: italic;
      float: left;
      clear: right;
    }

    .views-field-title {
      font-weight: bold;
    }

    blockquote {
      margin-top: 10px;
      small {
        clear: both;
        .views-field {
          float: left;
          margin-right: 5px;
        }
      }
      small:before {
        float: left;
      }
    }
  }
}

#comments {
  margin-top: 20px;
  .title, #edit-author--2 {
    display: none;
  }
}

.content-bottom {
  padding: 30px 0;
  #block-views-portfolio-block-1 {
    .view-portfolio {
      .views-field-field-portfolio-image {
        border: 1px solid #dddddd;
        padding: 30px;
        text-align: center;
      }
    }
  }
  #block-views-guest-book-block-1 {
    min-height: 200px;
    #views-bootstrap-carousel-1 {
      -khtml-border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      background: #f8f8f8 url('../images/quote.png') 12px 12px no-repeat;
      border-radius: 3px;
      border: 1px solid #e5e5e5;   
      padding: 20px 20px 20px 60px;
      position: relative;
      .views-field-body {
        font-size: 13px;
        line-height: 20px;
        font-style: italic;
        color: #777;
      }
      .views-field-title {
        display: inline;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}

